body{
    position: relative;
    width: 1440px;
    height: 1024px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0.869334) -1.78%, rgba(45, 192, 255, 0) -1.76%, #000000 0.89%, rgba(222, 17, 255, 0.51) 15.83%, rgba(242, 24, 220, 0.949052) 49.85%, rgba(222, 17, 255, 0.949052) 86.54%, rgba(7, 2, 7, 0.949052) 99.11%), linear-gradient(180deg, rgba(203, 25, 248, 0.869334) -1.78%, rgba(45, 192, 255, 0) -1.76%, #9D20FF -0.15%, rgba(212, 43, 239, 0.951966) 20.27%, rgba(244, 9, 9, 0.951426) 47%, rgba(249, 65, 230, 0.949052) 97.78%);
    color: white;
}
.cabecalho-imagem {
    width: 20%;
}