*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    position: relative;
    width: 100%px;
    height: 314px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0.869334) -1.78%, rgba(45, 192, 255, 0) -1.76%, #000000 0.89%, rgba(222, 17, 255, 0.51) 15.83%, rgba(242, 24, 220, 0.949052) 49.85%, rgba(222, 17, 255, 0.949052) 86.54%, rgba(7, 2, 7, 0.949052) 99.11%), linear-gradient(180deg, rgba(203, 25, 248, 0.869334) -1.78%, rgba(45, 192, 255, 0) -1.76%, #9D20FF -0.15%, rgba(212, 43, 239, 0.951966) 20.27%, rgba(244, 9, 9, 0.951426) 47%, rgba(249, 65, 230, 0.949052) 97.78%);
    padding: 24px 0;
    
    color: white;
    display: flex;
    justify-content: space-around;

    
}

.cabecalho-imagem {
    width: 20%;
}
.cabecalho-texto1{
    // Me conheça! ×͜×
color: #070207;
 font-size: 64px;
 font-family: Jua;
 font-weight: 400;
 word-wrap: break-word
 width: 100%; height: 100%; color: #070207; font-size: 64px; font-family: Jua; font-weight: 400; word-wrap: break-word;
}
.cabecalho-texto2{
    // Olá! Me chamo Camila, tenho 16 anos. E uma curiosidade sobre mim, é que amo ler livros de diferentes genêros, gosto de entrar em mundos diferentes.
    color: white;
     font-size: 24px;
     font-family: Jua;
     font-weight: 400;
     word-wrap: break-word;
     width: 100%; height: 100%; color: white; font-size: 24px; font-family: Jua; font-weight: 400; word-wrap: break-word;
}